{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student home </title>
  <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'studenthome.css' %}">



</head>
<body class="pic" background="{% static 'pic10.jpg' %}">
<div class="navbar">
      <a href="{% url 's_booked_course' %}">Booked course</a>
      <a href="{% url 's_bk_course_subject' %}">Book a course</a>
      <a href="{% url 's_download_certificate' %}">Download certificate</a>
      <a href="{% url 's_myprofile' %}">My profile</a>
      <a href="{% url 's_feedback' %}">Feedback</a>
      <a href="{% url 's_change_password' %}">Change password</a>
      <div class="dropdown">
      <button class="dropbtn">Exam<i class="fa fa-caret-down"></i></button>
         <div class="dropdown-content">
          <a href="{% url 's_exam_noti' %}">Exam Notification</a>
            <a href="{% url 's_start_test' %}">Start Test</a>
            <a href="{% url 's_exam_result' %}">Exam Result</a>
      </div>
      </div>
      <a href="{% url 's_messages' %}">Messages</a>
      <a href="{% url 'logout' %}">Logout</a>
</div>
<div align="center">
  <h1> STUDENT HOME</h1>
</div>

<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
</body>
</html>

